$bgColor: #eff1f1;
$primary: #313237;
$secondary: #e0e5e8;
$hoverBg: #fafbfc;
$shadow: #17203166;

$global-border-radius: 8px;
$font-family: 'Mont', sans-serif;

$editButton: #91f36d92;
$deleteButton: #ff000075;
$toggleButton: #ffd90082;

$editButtonHover: #91f36dbd;
$deleteButtonHover: #ff0000b3;
$toggleButtonHover: #ffd900ba;

$disabled: #554d4dbb;
